.content_wrapper {
    .profile_wrap {
        max-width: 80%;
        margin: 0 auto;
        .pic_wrap {
            display: flex;
            justify-content: center;
            margin-bottom: 2vh;
            .profilePic {
                width: clamp(225px, 90%, 350px);
                border-radius: 10%;
            }
            .editPen {
                font-size: 2rem;
            }
        }
        .info_wrap {
            max-width: 400px;
            margin: 0 auto;
            font-size: 1.25rem;
            display: flex;
            justify-content: space-around;
        }
    }
}
