.content_wrapper {
    .profile_wrap {
        max-width: 80%;
        margin: 0 auto;
        .data_wrap {
            .pic_wrap {
                display: flex;
                justify-content: center;
                margin-bottom: 2vh;
                .profilePic {
                    width: clamp(225px, 90%, 350px);
                    border-radius: 10%;
                }
                .editPen {
                    height: 44px;
                    padding: 4px;
                    &:hover {
                        background-color: #ecb15944;
                        border-radius: 25%;
                        cursor: pointer;
                    }
                }
            }
            .info_wrap {
                max-width: 400px;
                margin: 0 auto;
                font-size: 1.25rem;
                display: flex;
                justify-content: space-around;
            }
        }
    }
    .profile_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
        @media (max-width: 768px) {
            display: block;
        }

        .editForms_wrap {
            .form_wrap {
                margin-bottom: 2vh;
                @media (max-width: 575px) {
                    max-width: 300px;
                }
            }
        }
    }
}
