a {
    .quote_wrap {
        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .delete {
                padding: 2px 6px 2px 6px;
                &:hover {
                    background-color: var(--orange);
                    cursor: pointer;
                    border-radius: 4px;
                }
            }
            .favorite {
                padding: 2px 6px 2px 6px;
                &:hover {
                    background-color: var(--orange);
                    cursor: pointer;
                    border-radius: 4px;
                }
            }
        }
    }
}
